# แบบฝึกหัด 6

---

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

8.1 ร้านค้าออนไลน์ขายเมล็ดพืชหายากชนิดหนึ่ง อ้างว่าเมล็ดที่ขายมีเปอร์เซ็นต์การงอกสูงกว่า 90% จากการทดลองของลูกค้ารายหนึ่งได้สั่งซื้อเมล็ดมาทั้งหมด 100 เมล็ดและพบว่ามี 14 เมล็ดที่ไม่งอก จงทดสอบคำกล่าวอ้างของร้านค้าว่าเป็นจริงหรือไม่ที่ระดับนัยสำคัญ 0.05 หากถือว่าอัตราการงอกของเมล็ดพืชดังกล่าวมีการแจกแจงแบบปกติ

In [2]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล
# สนใจการงอก
# H0: P1 <= P0
# H1: P1 >  P0 (*)

n = 100
x = n - 14
P0 = 90 / 100
alpha = 0.05

z_cal, p_value = proportions_ztest(count=x,
                                   nobs=n,
                                   value=P0,
                                   alternative="larger",
                                   prop_var=P0)
z_crit = stats.norm.sf(alpha)

z_cal, z_crit, p_value
# ยอมรับสมมติฐานหลัก H0 (คำกล่าวอ้างเป็นเท็จ)

(-1.3333333333333346, 0.4800611941616275, 0.9087887802741323)

8.2 สืบเนื่องจากข้อ 8.1 พบว่ามีร้านค้าออนไลน์อีกเจ้าซึ่งขายเมล็ดพืชหายากชนิดเดียวกันนี้ อ้างว่าเมล็ดที่ขายมีเปอร์เซนต์การงอกสูงกว่า 95% จึงสั่งซื้อมา 50 เมล็ดพบว่ามี 4 เมล็ดที่ไม่งอก จงทดสอบว่าร้านค้านี้ขายเมล็ดซึ่งมีเปอร์เซ็นต์การงอกสูงกว่าร้านค้าแรกมากกว่าหรือเท่ากับ 5% หรือไม่ ที่ระดับนัยสำคัญ 0.05

In [3]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล
# สนใจการงอก
# H0: P1 - P2 >= P0 (*)
# H1: P1 - P2 <  P0 
# P1 ต้องเป็นตัวที่มีเปอร์เซนต์สูง

alpha = 0.05
P0 = 5 / 100

n1 = 50
x1 = n1 - 4

n2 = 100
x2 = n2 - 14

z_cal, p_value = proportions_ztest(count=[x1, x2],
                                   nobs=[n1, n2],
                                   value=P0,
                                   alternative="smaller",)
z_crit = stats.norm.ppf(alpha)

z_cal, z_crit, p_value

(0.17766726362967628, -1.6448536269514729, 0.5705078519955205)

8.3 จากชุดข้อมูล "titanic.csv" จงทดสอบว่าส่วนเบี่ยงเบนมาตราฐานข้อมูลอายุผู้โดยสารมีค่าน้อยกว่า 10 ปีหรือไม่ที่ระดับความเชื่อมั่น 99% หากกำหนดให้ข้อมูลอายุผู้โดยสารมีการแจกแจงแบบปกติ

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล
# H0: sigma1_2 >= sigma0_2 
# H1: sigma1_2 <  sigma0_2 (*)

alpha = (100 - 99) / 100
sigma0 = 10
sigma0_2 = sigma0**2

n = len(df.Age.dropna())
s2 = np.var(df.Age, ddof=1)

chi2_cal = ( (n-1) * s2 ) / (sigma0_2)
chi2_crit = stats.chi2.ppf(alpha, df=n-1)
p_value = stats.chi2.cdf(chi2_cal, df=n-1)

chi2_cal, chi2_crit, p_value

# ยอมรับสมมติฐานหลัก H0 (การทดสอบเป็นเท็จ)

(1504.5663594411762, 628.1028368095084, 1.0)

8.4 จากข้อ 8.3 จงทดสอบว่ากลุ่มผู้โดยสารชั้น Pclass = 1 มีความแปรปรวนของอายุเท่ากับ กลุ่มผู้โดยสารชั้น Pclass = 2 หรือไม่ที่ระดับนัยสำคัญ 0.05

In [6]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล
# H0: sigma1_2 / sigma2_2 == 1
# H1: sigma1_2 / sigma2_2 != 1

age_p1 = df[df.Pclass == 1].Age.dropna()
age_p2 = df[df.Pclass == 2].Age.dropna()

n1 = len(age_p1)
n2 = len(age_p2)

s1_2 = np.var(age_p1, ddof=1)
s2_2 = np.var(age_p2, ddof=1)

dfn = n1-1
dfd = n2-1

f_cal = (s1_2 / s2_2)
f_crit_left = stats.f.ppf(alpha/2, dfn=dfn, dfd=dfd)
f_crit_right = stats.f.isf(alpha/2, dfn=dfn, dfd=dfd)

p_value = 2*min( stats.f.cdf(f_cal, dfn=dfn, dfd=dfd), stats.f.sf(f_cal, dfn=dfn, dfd=dfd) )

f_crit_left, f_cal, f_crit_right, p_value
# ยอมรับสมมติฐานหลัก H0 (ความแปรปรวนของอายุของทั้ง 2 กลุ่มเท่ากัน)

(0.6794935571367466,
 1.117810400886476,
 1.4751747441445933,
 0.45933712642977714)